fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.19
replicate==1.0.4
stripe==11.4.1
boto3==1.36.4
numpy==1.26.4
essentia==2.1b6.dev1034
pydantic-settings==2.7.1
httpx==0.28.1
python-dotenv==1.0.1
pyacoustid==1.3.0
soundfile==0.12.1
apscheduler==3.10.4
aiofiles==24.1.0
modal==1.4.1
anthropic==0.43.0
google-api-python-client==2.159.0
